@charset "utf-8";
/* CSS Document */

/* Elements */

html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;

    font-family: 'Archivo Narrow', sans-serif;
}

			/* S E C T I O N   1 */

#section-1{
	height: 100%;
	width: 100%;
	
	background-image: url("images/top-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#main{
	height: 100%;
	width: 100%;
    background-color: rgba(102, 153, 204, 0.5);
	
}

#nav-menu{
	
    text-align: right;
	
	
}

#bmenu{
	padding: 40px 55px 0 0;
}

#upper-div{
	color:#FFFFFF;
	font-weight: 200;
	letter-spacing: 3px;
	padding: auto 0px;
	height: 40%;
	
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}

#lower-div{
	font-weight: 200;
	text-align: center;
	align-content: center;
	vertical-align: center;
	padding: 30px 0px 30x 0px;
}

#title{
	color:#FFFFFF;
	letter-spacing: 3px;
	font-size: 50px;
}

#mayfair-fish-img1{
	width: 500px;
	height: 225px;
}

#upper-buttons{
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	height: 70px;
}

.main-btn{
	height: 70px;
	width: 220px;
	border: 2px solid #FFFFFF;
	backface-visibility: hidden;
	background-color: rgba(0,0,0,0.00);
	color: #FFFFFF;
	margin: 0px 50px;
}

.main-btn2{
	display: table-cell;
	height: 70px;
	width: 220px;
	border: 2px solid #FFFFFF;
	backface-visibility: hidden;
	background-color: rgba(0,0,0,0.00);
	color: #FFFFFF;
	margin: 0px 50px;
	vertical-align: middle;
}


			/* S E C T I O N   2 */

#section-2{
	margin: 0px;
	
	height: 100%;
	background-color: rgb(203,214,222);
	text-align: center;
}

#upper-sec-2{
	display: table-cell;
	vertical-align: bottom;
	
	height: 20vh;
	width: 100vw;
	
}

#locations{
	
	
	margin: 0px 0px 10px 0px;
	letter-spacing: 1px;
	text-align: center;
	color: rgba(56, 66, 78, 1);
}

#curled-img{
	z-index: 1000;
	display: absolute;
	background-image: url("images/curled-text.png");
	height: 100px;
	background-repeat: no-repeat;
	
	
	
}

#location-images{
	margin-top: 20px;
	
	display: flex;
	flex-direction: row;
	
	justify-content: center;
	color: rgba(56, 66, 78, 1)

}
.loc-div{
	text-align: center;
}

.loc-img{
	width: 250px;
	height: 250px;
	margin: 20px 100px;
}

#lower-sec-2{
	z-index: 10;
	position: relative;
	text-align: center;
	font-size: 35px;
	margin: 10px 270px;
	color: rgba(57, 70, 83, 1);	
	font-family: "Times New Roman";
	letter-spacing: 2px	
}

#sec-2-bg{
	z-index: 5;
	position: absolute;
	background-image: url("images/MayfairFish3.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 60% 95%;
	opacity: 0.30;
	height: 100%;
	width: 90%;
}

.above{
	z-index: 10;
	opacity: 1;
}

			/* S E C T I O N   3 */

#section-3{
	margin: 0px;
	padding: 50px 50px 0px 50px;
	height: 40%;
	background-color: #FFFFFF;
	color: rgb(56,66,78);
	
	text-align: center;
}

#sec-3-title{
	padding-top: 25px
}

#sec-3-images{
	padding: 50px;
	
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 150px;
	
	justify-content: center;
}

			/* S E C T I O N   4 */

#section-4{
	margin: 0px;
	height: 100%;
	background-color: rgba(240,243,248);
}

#sec-4-main{
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
}

#sec-4-content{
	display: grid;
	
	grid-template-columns: 1fr 3fr 4fr 1fr;
	grid-template-rows: 400px;
	
	margin: auto 0px auto;
	width: 100%;
}

#sec-4-prev{
	height: 50px;
	transform: rotate(90deg);
}

#our-story-div{
	text-align: center;
	color: rgba(57, 70, 83, 1);
	margin: auto 100px;
}

#sec-4-title{
	font-size: 35px;
}

#our-story-para{
	font-family:"Times New Roman", "serif";
	font-size: 25px;
}

#sec-4-underline{
	margin-bottom: 50px;
}

#more-story:link{
	text-decoration: none;
	color: rgba(57, 70, 83, 1);
}

#more-story:visited {
	text-decoration: none;
	color: rgba(57, 70, 83, 1);
}

#more-story:hover {
	text-decoration: none;
	color: rgba(37, 45, 54, 1);
}

#more-story:active {
	text-decoration: none;
	color: rgba(57, 70, 83, 1);
}

#sec-4-fish-div{
	display: table-cell;
	height: 500px;
	vertical-align: middle;
}

#sec-4-fish{
	margin: auto;
	text-align: center;
	width: 760px;
	height: 330px;
}

#sec-4-next{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}

.sec-4-global{
	display: table;
	vertical-align: middle;
	height: 100%;
}

.sec-4-sides{
	text-align: center;
	font-family:"Times New Roman", "serif";
	font-size: 30px;
	width: 100%;
}

			/* S E C T I O N   5 */

#section-5{
	margin: 0px;
	height: 30%;
	background-color: rgb(56,66,78);
}


#mayfair-info{
	display: grid;
	grid-template-columns: auto auto auto auto;
	
	color: #FFFFFF;
	
	padding: 10px 0px;
	

}

.footer-title{
	list-style: none;
	font-weight: 400;
	padding: 10px 0px;
	
}

.footer-content{
	list-style: none;
	font-family: 'Times New Roman';
	padding: 2px 0px;
	
}

#sec-5-lower{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50px;
	margin-top: 20px;
}

#follow-us{
	
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
}

.footer-nav{
	color: #FFFFFF;
	font-family: 'Times New Roman';
	font-weight: 100;
	margin: auto 40px;
}

.footer-img{
	height: 37px;
	display: table-cell;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 37px;
}

/* Global Classes */

.test{
	border-bottom: 4px rgba(56, 66, 78, 1) solid;
	padding-bottom: 20px;
	
}

.title{
	letter-spacing: 3px;
	font-size: 40px;
}

.underline{
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	width: 80px;
	border-bottom: rgba(56, 66, 78, 1) solid 5px;
}
